<div class="contact">
  <h2>اتصل بنا</h2>
  <ul>
    <li>
      إذا كنت بحاجة إلى مساعدة أو لديك أي استفسارات حول عملية الشحن أو استخدام
      البطاقات، يرجى الاتصال بنا عبر البريد الإلكتروني أو الهاتف. نحن هنا لمساعدتك
      والرد على أي أسئلة قد تكون لديك.
    </li>
    <li>
      نحن نقدم دعمًا على مدار الساعة طوال أيام الأسبوع للمساعدة في حل أي مشكلات قد
      تواجهك. يمكنك الوصول إلى فريق الدعم لدينا عبر البريد الإلكتروني، الدردشة عبر
      الواتساب، أو الهاتف. نحن هنا للمساعدة ونهدف إلى الرد على جميع الاستفسارات في
      غضون 24 ساعة.
    </li>
    <li>
      نحن نهدف إلى تقديم خدمة عملاء ممتازة ونقدر ملاحظاتك واقتراحاتك لتحسين
      خدماتنا.
    </li>
  </ul>
  <h3>
    للاتصال بنا
  </h3>

  <div class="d-flex wallet">
    <a href="https://wa.me/+249997313128" class="btn" type="conect">
      <i class="bx bxl-whatsapp"></i>
      <span> عبر الواتساب</span>
    </a>
    <a href="mailto:zuh12390@gmail.com" class="btn" type="conect">
      <i class="bx bx-mail-send"></i>
      <span>عبر البريد الإلكتروني</span>
    </a>
    <a href="https://m.me/Zuhair.dev" class="btn" type="conect">
      <i class="bx bxl-messenger"></i>
      <span>عبر الماسنجر</span>
    </a>
    <a href="https://t.me/Zuhair67" class="btn" type="conect">
      <i class="bx bxl-telegram"></i>
      <span>عبر تلغرام</span>
    </a>
  </div>
</div>