<a href="/dashboard" class="btn btn-dark">
  <i class="bx bxs-dashboard"></i>
  <span>لوحة التحكم
  </span>
</a>
<a href="/dashboard/users" class="btn btn-dark">
  <i class="bx bx-group"></i>
  <span> العملاء</span>
</a>
<a href="/dashboard/products" class="btn btn-dark">
  <i class="bx bx-layout"></i>
  <span>المنتجات
  </span>
</a>
<a href="/dashboard/products/add" class="btn btn-dark">
  <i class="bx bx-layout"></i>
  <span>اضافة منتج
  </span>
</a>
<a href="/dashboard/orders" class="btn btn-dark">
  <i class="bx bx-spreadsheet"></i>
  <span>الطلبات </span>
</a>
<a href="/dashboard/reports" class="btn btn-dark">
  <i class="bx bxs-report"></i>
  <span>تقارير </span>
</a>
<a href="/auth/logout" class="btn btn-dark">
  <i class="bx bx-log-out"></i>
  <span>خروج</span>
</a>

<div class="logo">
  <img src="/images/logo.png" alt="Amanos" />
</div>