<footer>
  <div class="logo">
    <img src="/images/logo.png" alt="Amanos" />
  </div>
  <br />
  <div class="paymenet-methods">
    <h2>وسائل الدفع <i class="bx bx-credit-card"></i></h2>
    <img src="/images/payments-methods.jpg" alt="" />
  </div>

  <ul class="d-flex">
    <li><a href="/terms-and-conditions">الشروط والاحكام</a></li>
    <li><a href="/support">الدعم والمساعدة</a></li>
    <li><a href="/refund-policy">سياسة الاسترجاع</a></li>
    <li><a href="/privacy-policy">سياسة الخصوصية</a></li>
    <li><a href="/contact-us">اتصل بنا</a></li>
  </ul>
  <div class="d-flex container">

    <h4>تواصل معنا عبر</h4>
    <a href="https://m.me/Zuhair.dev" type="conect"><i
        class="bx bxl-facebook-circle"
        aria-hidden="true"
      ></i></a>
    <a href="mailto:zuh12390@gmail.com" type="conect"><i
        class="bx bx-mail-send"
        aria-hidden="true"
      ></i></a>
    <a href="https://wa.me/+249997313128" type="conect"><i
        class="bx bxl-whatsapp"
        aria-hidden="true"
      ></i></a>
    <a href="https://t.me/Zuhair67" type="conect"><i
        class="bx bxl-telegram"
        aria-hidden="true"
      ></i></a>
  </div>
  <p>
    جميع الحقوق محفوظة الي Amanos Store &copy; 2023
  </p>
</footer>