<section class="paymenet-methods">
    <div class="container">
        <h2 class="title-service">وسائل الدفع <i class="bx bx-credit-card"></i></h2>
        <div class="d-flex">
            <figure class="method-item">
                <img src="/images/bankak.png" alt="الصورة">
            </figure>
            <figure class="method-item">
                <img src="/images/fawry.png" alt="الصورة">
            </figure>
            <figure class="method-item">
                <img src="/images/ocash.jpeg" alt="الصورة">
            </figure>
        </div>
    </div>
</section>