

<div style="direction: rtl; padding: 30px; border: 1px solid #ddd; border-radius:
  10px; margin: 20px auto; width: 80%; box-shadow: 1px 1px 4px #999;">
  <h1>
    إعادة تعيين كلمة المرور
  </h1>
  <p>
    تم طلب تغيير كلمة المرور لحسابك. إذا كان هذا هو أنت، فيرجى استخدام الرابط
    أدناه لإعادة تعيين كلمة المرور الخاصة بك.
  </p>
  <a href="{{resetURL}}" style="padding: 7px 20px;
    background: #e91e63;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin:
    5px auto;
    width: 120px;">
    اعادة تعيين كلمة السر
  </a>
</div>