<div class="d-flex wallet">
    <a href="/user/wallet" class="btn">
      <i class="bx bx-wallet-alt"></i>
      <span>محفظتي</span>
    </a>
    <a href="/user/profile" class="btn">
      <i class="bx bx-id-card"></i>
      <span>تفاصيل الحساب
      </span>
    </a>

    <div class="btn">
    <span>الكود الخاص بك: {{user.accountNumber}}</span>

    </div>

    <a href="/auth/logout" class="btn">
      <i class="bx bx-log-out"></i>
      <span>تسجيل الخروج</span>
    </a>

  </div>
