<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="theme-color" content="#e91f1f6fae63">
<title> Amanos Store - {{title}} </title>
<link rel="icon" href="/images/s-logo.png" type="image/x-icon">
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/boxions/css/boxicons.min.css" />

</head>
<body>
<!-- ========== Start Navber ========== -->
{{>navbar}}
<!-- ========== End Navber ========== -->
<!-- ========== Start Main content ========== -->
<main class="dashboard">
<input type="checkbox" name="" id="show-sidebar" />
<label for="show-sidebar" class="show-sidebar"><i
class="bx bx-toggle-left"
></i><span>hide sidebar</span></label>
{{{body}}}
<div class="go-up">
<i class="bx bx-up-arrow-alt"></i>
</div>
</main>
<!-- ========== End Main content ========== -->
<div class="loading-wait">
<span></span>
<span></span>
<span></span>
</div>
<!-- ========== End Main content ========== -->

<script src="/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/dashboard.js"></script>
</body>
</html>