<div class="container form form-title page-error">
    <img src="/images/404.jpeg" alt="رمز الخطأ {{error.code}}">
    <code>{{error.code}}</code>
    <p>
        {{error.message}}
        <a class="alert-danger" href="/">
            رجوع الي الصفحة الرئيسية</a>
    </p>
</div>