<section class="policy-policy about-and-roles">
  <div class="container">
    <h2>سياسة الخصوصية</h2>
    <div class="policy">
      <h3>نحترم خصوصيتك</h3>
      <p>نحن نحترم خصوصيتك ونلتزم بحماية البيانات الشخصية التي تقدمها لنا. هذه
        السياسة توضح كيف نجمع ونستخدم ونحمي بياناتك الشخصية. نحن نجمع البيانات
        الشخصية فقط عندما تقدمها لنا بطوع، مثل عند التسجيل في الموقع أو عند
        الشراء منا.</p>
    </div>
    <div class="policy">
      <h3>استخدام البيانات الشخصية</h3>
      <p>نحن نستخدم البيانات الشخصية التي تقدمها لنا لتقديم الخدمات لك وتحسين
        تجربتك على الموقع. نحن لا نشارك بياناتك مع أطراف ثالثة بدون موافقتك
        الصريحة. يمكنك تحديث تفضيلاتك أو طلب حذف بياناتك في أي وقت عن طريق
        الاتصال بنا.</p>
    </div>
    <div class="policy">
      <h3>التحكم في بياناتك الشخصية</h3>
      <p>نحن نحترم حقك في الخصوصية ولذا فإننا نقدم لك القدرة على التحكم في كيفية
        استخدامنا لبياناتك. يمكنك تحديث تفضيلاتك أو طلب حذف بياناتك في أي وقت عن
        طريق الاتصال بنا.</p>
    </div>
    <div class="policy">
      <h3>تقنيات التتبع والكوكيز</h3>
      <p>نحن نستخدم تقنيات مثل الكوكيز لتحسين تجربتك على موقعنا. يمكنك التحكم في
        إعدادات الكوكيز من خلال متصفحك. لمزيد من المعلومات حول كيفية استخدامنا
        للكوكيز، يرجى الرجوع إلى سياسة الكوكيز الخاصة بنا.</p>
    </div>
    <div class="policy">
      <h3>حماية البيانات الشخصية</h3>
      <p>نحن نتعامل مع بياناتك الشخصية بمنتهى الحذر ونتخذ جميع الإجراءات اللازمة
        لحمايتها من الوصول غير المصرح به. نحن نتوافق مع جميع القوانين واللوائح
        المحلية والدولية المتعلقة بحماية البيانات الشخصية والخصوصية.</p>
    </div>
    <div class="contact">
      <p>إذا كان لديك أي أسئلة أو مخاوف بشأن سياسة الخصوصية الخاصة بنا، يرجى
        <a href="/contact-us">الاتصال بنا</a>.</p>
    </div>
  </div>
</section>