<section class="refund-policy about-and-roles">
  <div class="container">
    <h2>الإسترجاع والإستبدال</h2>
    <ul class="policy">
      <li>نظرًا لطبيعة المنتجات الرقمية التي نقدمها، لا يمكننا قبول الإرجاع أو
        الاسترداد بعد الشراء إلا في حالات محددة. إذا واجهت مشكلة في استخدام
        البطاقة التي اشتريتها، يرجى الاتصال بنا وسنبذل قصارى جهدنا لحل المشكلة.</li>
      <li>في حالة وجود مشكلة في البطاقة التي تم شراؤها، يرجى الاتصال بنا في غضون
        48 ساعة من الشراء. سنقوم بالتحقق من المشكلة وإذا تم التأكد من وجود خطأ
        من جانبنا، سنقوم بتقديم بطاقة بديلة.</li>
      <li>بعد استلام المنتج المرجع، سنقوم بفحصه وإذا كان يتوافق مع شروط الإرجاع،
        سنقوم بإعادة المبلغ المدفوع الي محفظتك في الموقع أو استبدال المنتج حسب
        رغبتك. يرجى الانتظار لمدة تصل إلى 48 ساعة
        لتجهيز الرد.</li>
      <li>إذا تم الإرجاع بسبب خطأ من جانبنا، مثل تقديم بطاقة خاطئة أو معيبة،
        سنتحمل تكاليف الإرجاع. في جميع الحالات الأخرى، يتحمل العميل تكاليف
        الإرجاع.</li>
      <li>في حالة الإرجاع، يجب أن يكون المنتج في حالته الأصلية وغير مستخدم. لا
        يمكننا قبول الإرجاع للبطاقات التي تم استخدامها أو التي تم فتحها أو
        تغييرها بأي شكل من الأشكال.</li>
    </ul>
    <div class="contact">
      <h3>الاتصال بنا</h3>
      <p>
        للحصول على مساعدة إضافية أو للحصول على المزيد من المعلومات حول
        سياسة الإسترجاع، يرجى الاتصال بنا:
      </p>
      <p>
        <a href="/contact-us">صفحة الاتصال بنا</a>
      </p>
    </div>
  </div>
</section>