<section class="support about-and-roles">
  <div class="container">
    <h2>الدعم والمساعدة</h2>
      {{> contact }}
      <h3>الأسئلة الشائعة (FAQs)</h3>
      <p>
        نحن نقدم أيضًا قسم الأسئلة الشائعة (FAQs) حيث يمكنك العثور على إجابات للأسئلة الأكثر شيوعا. إذا لم تجد الإجابة على سؤالك هناك، فلا تتردد في الاتصال بنا.
      </p>
    <div class="faqs hide-content">
      <div class="d-flex">
      <span>كيف فتح حساب؟</span>
      <i class="bx bx-down-arrow"></i>
      </div>
      <p>
        نحن نقدم أيضًا قسم الأسئلة الشائعة (FAQs) حيث يمكنك العثور على إجابات للأسئلة الأكثر شيوعا. إذا لم تجد الإجابة على سؤالك هناك، فلا تتردد في الاتصال بنا.
      </p>
    </div>
    <div class="faqs hide-content">
      <div class="d-flex">
      <span>كيف فتح حساب؟</span>
      <i class="bx bx-down-arrow"></i>
      </div>
      <p>
        نحن نقدم أيضًا قسم الأسئلة الشائعة (FAQs) حيث يمكنك العثور على إجابات للأسئلة الأكثر شيوعا. إذا لم تجد الإجابة على سؤالك هناك، فلا تتردد في الاتصال بنا.
      </p>
    </div>
    <div class="faqs hide-content">
      <div class="d-flex">
      <span>كيف فتح حساب؟</span>
      <i class="bx bx-down-arrow"></i>
      </div>
      <p>
        نحن نقدم أيضًا قسم الأسئلة الشائعة (FAQs) حيث يمكنك العثور على إجابات للأسئلة الأكثر شيوعا. إذا لم تجد الإجابة على سؤالك هناك، فلا تتردد في الاتصال بنا.
      </p>
    </div>
    <div class="faqs hide-content">
      <div class="d-flex">
      <span>كيف فتح حساب؟</span>
      <i class="bx bx-down-arrow"></i>
      </div>
      <p>
        نحن نقدم أيضًا قسم الأسئلة الشائعة (FAQs) حيث يمكنك العثور على إجابات للأسئلة الأكثر شيوعا. إذا لم تجد الإجابة على سؤالك هناك، فلا تتردد في الاتصال بنا.
      </p>
    </div>
  </div>
</section>