<section class="terms about-and-roles">
  <div class="container">

    <h2>شروط وأحكام الموقع</h2>
    <p>
      مرحبًا بك في موقعنا لشحن الألعاب وبطاقات الألعاب. عند استخدامك لموقعنا،
      فإنك توافق على الالتزام بالشروط والأحكام التالية. يرجى قراءتها بعناية قبل
      الشراء. نحن نحتفظ بالحق في تغيير هذه الشروط والأحكام في أي وقت، وسيكون من
      مسؤوليتك الرجوع إلى هذه الصفحة بانتظام للتحقق من أي تغييرات.
    </p>
    <h2>الشروط والأحكام</h2>
    <ul>
      <li>يجب على المستخدمين استخدام البطاقات التي تم شراؤها من خلال الموقع
        بطريقة قانونية وفقًا للقوانين المحلية والدولية. أي استخدام غير قانوني
        للبطاقات أو محاولة الاحتيال سيؤدي إلى حظر المستخدم من الموقع وقد يتم
        اتخاذ إجراءات قانونية.</li>
      <li>يجب على المستخدمين التأكد من أن الألعاب التي يتم شحنها من خلال
        بطاقاتنا متوافقة مع البطاقات المشتراة. نحن لا نتحمل المسؤولية عن أي
        خسائر تنشأ عن استخدام غير صحيح للبطاقات. يجب على المستخدمين التحقق من
        توافق البطاقات قبل الشراء.</li>
      <li>نحن نحتفظ بالحق في رفض الخدمة أو إلغاء الطلبات في أي وقت لأي سبب. نحن
        نحتفظ أيضًا بالحق في تغيير أو تعديل هذه الشروط والأحكام في أي وقت. يتم
        نشر التغييرات على هذه الصفحة وتصبح سارية المفعول فوراً بعد نشرها.</li>
      <li>يجب على المستخدمين التحقق من صحة المعلومات التي يقدمونها عند التسجيل
        والشراء. أي أخطاء في المعلومات المقدمة قد تؤدي إلى تأخير أو عدم تسليم
        البطاقات. نحن لا نتحمل المسؤولية عن أي خسائر تنشأ عن معلومات غير صحيحة.</li>
    </ul>
  </div>
</section>